<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.BoardMapper">

<!-- 동적 sql -->
<sql id="criteria">
	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
		<foreach item="type" collection="typeArr">
			<trim prefix="OR">
				<choose>
					<when test="type == 'T'.toString()">
						title LIKE '%' || #{keyWord} || '%'				
					</when>
					<when test="type == 'C'.toString()">
						content LIKE '%' || #{keyWord} || '%'				
					</when>
					<when test="type == 'W'.toString()">
						writer LIKE '%' || #{keyWord} || '%'				
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
</sql>

<!-- 전체 글 조회 -->
<select id="getList" resultType="org.zerock.domain.BoardVO">

<![CDATA[
SELECT * FROM tbl_board WHERE bno > 0  
]]>	
</select>	

<!-- 페이징처리해서 전체글 조회-->
<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
<![CDATA[
  select 
    bno, title, content, writer, regdate, updatedate
  from 
      (
      select /*+INDEX_DESC(tbl_board pk_board) */
        rownum rn, bno, title, content, writer, regdate, updatedate 
      from 
        tbl_board
      where 
  ]]>
	
	<!-- 동적쿼리 include -->	
	<include refid="criteria"></include>
      
  <![CDATA[    
      rownum <= #{pageNum} * #{amount}
      )
  where rn > (#{pageNum} -1) * #{amount}   
  ]]>  
</select>
	
<select id="getTotalCount" resultType="int">
	SELECT COUNT(*) FROM tbl_board 
		WHERE
	<!-- 동적쿼리 include -->	
	<include refid="criteria"></include> 
	bno > 0
</select>





<!-- 게시글 작성(pk값 알수 없음) -->
<insert id="insert">
INSERT INTO tbl_board (bno, title, content, writer)
VALUES(SEQ_BOARD.nextval , #{title}, #{content}, #{writer})	
</insert>

<!-- 게시글 작성(pk값 저장)-->
<insert id="insertSelectKey">
	
	<selectKey keyProperty="bno" order="BEFORE" resultType="long">
		SELECT SEQ_BOARD.nextval FROM dual
	</selectKey>
	
	INSERT INTO tbl_board (bno, title, content, writer)
	VALUES (#{bno}, #{title}, #{content}, #{writer})
</insert>

<select id="read" resultType="org.zerock.domain.BoardVO">
	SELECT * FROM tbl_board WHERE bno =#{bno}
</select>

<delete id="delete">
	DELETE tbl_board WHERE bno = #{bno}
</delete>

<update id="update">
	UPDATE tbl_board
		set title = #{title},
		content = #{content},
		writer = #{writer},
		updateDate = sysdate
	WHERE bno = #{bno}
</update>












</mapper>